<%- include header %>
<% posts.forEach(function (post, index) { %>
  <p><h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2></p>
  <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
  <p class="info">
Author: <a href="/u/<%= post.name %>"><%= post.name %></a> | 
  Date: <%= post.time.minute %>|
  Tags: <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
  <% }) %>
  </p>
  <p><%- post.post %></p>
   <p class="info"> Read: <%= post.pv %> | Comments: <%= post.comments.length %>itation:
  <% if (post.reprint_info.reprint_to) { %>
    <%= post.reprint_info.reprint_to.length %>
  <% } else { %>
    <%= 0 %>
  <% } %></p>
<% }) %>
<%- include paging %>
<%- include footer %>